<% for (const discos of lista) { %>
    <article>
    <a href="/producto/detalle/<%= discos.id%>"><img src="/img/productos/<%= discos.image %>"></a>
    <div class="datosDisco">
        <a href="/producto/detalle/<%= discos.id%>" style="text-decoration: none; color:black"><h3><%= discos.titulo%></h3></a>
    <h4><%= discos.artista%></h4>
    <span>ID:<%= discos.id%></span>
    <span>$<%= discos.precio %></span>
</div>
    <div class="cantidadesCarrito">
        <label>Cantidad:</label>
        <select name="Cantidad" class="control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
        <button class="botonEliminar">Eliminar</button>          
</article>
<% } %>