<%- include("./partials/head") %>

            <body>     
                <%- include("./partials/header") %> 
                <div class="container-login">
                <div class="login-crear">
                    <form action="/usuario/login" method="POST" class="estiloForm">
                        <div class="estiloForm1">
                            <label for="email" class="estiloForm2">Email</label>
                            <input type="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>" class="estiloForm3">
                            <% if(locals.mensajeDeError && mensajeDeError.nombreDeUsuario) {%>
                                <div class="mensajeError">
                                   <%= mensajeDeError.email.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="estiloForm1">
                            <label for="password" class="estiloForm2">Contraseña</label>
                            <input type="password" name="password" class="estiloForm3">
                            <% if(locals.mensajeDeError && mensajeDeError.password) {%>
                                <div class="mensajeError">
                                   <%= mensajeDeError.password.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="estiloForm1">
                            <div class="recordarUsuario">
                                <label for="recordarUsuario" class="">Recordar usuario</label>
                                <input type="checkbox" name="recordarUsuario" value="true">
                            </div>
                            <button type="reset" class="botonForm">Borrar</button>
                            <button type="submit" class="botonForm">Ingresar</button>
                            <div class="recuperarContraseña">
                                <li><a href="#">¿Olvidaste tu contraseña?</a></li>
                            </div>
                            <% if(locals.errors) { %> 
                                <h4 style="color: red"><%=errors[0].msg%></h4>
                             <% } %> 
                        </div>
                    </form>

                    <section class="register-login">
                        <h2>Crear una cuenta</h2>
                        <p>Con una cuenta vamos a poder hacer estas cosas:</p>
                        <ul>
                            <li>Añadir discos a nuestra lista de deseados</li>
                            <li>Pagar y finalizar transacciones mas rápido</li>
                            <li>Obtener ofertas especiales</li>
                        </ul>
                        <p style="font-style:italic">NOTA:Las cuentas creadas no recibiran publicidad por mail</p>
                        <a href="/usuario/register"><button type="submit" class="botonForm">Crear</button></a>
                    </section>
                </div>
            </div>
        </div>
            <%- include("./partials/footer") %>
    </body>

    </html>