<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="detalle">
                    <article>
                        <img src="/img/productos/<%= disco.image %>">
                        <div class="info-producto">
                            <h1>
                                <%= disco.titulo %>
                            </h1>
                            <div class="precio-artista-genero">
                                <h3>
                                    <%= disco.precio %>
                                </h3>
                                <h3>
                                    <%= disco.genero %> - <%= disco.artista %>
                                </h3>
                            </div>
                            <div class="botones-detalle">
                                <button class="botonAñadir">Añadir al carrito</button>
                                <button class="botonAñadir">Añadir a lista de destacado</button>
                            </div>
                            <p>
                                <%= disco.descripcion %>
                            </p>
                        </div>
                        <form action="/producto/borrar/<%= disco.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="botonAñadir">Eliminar</button>
                        </form>
                        <a href="/producto/edicion/<%= disco.id %>"><button class="botonAñadir">Editar</button></a>
                    </article>
                </div>
            </div>
            <%- include("./partials/footer") %>

                </html>