<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="detalle">
                    <article>
                        <img src="/img/Avatares/<%= user.Imagen %>">
                        <div>
                            <h1>
                                <%= user.nombreApellido %>
                            </h1>
                            <div class="precio-artista-genero">
                                <h3>
                                    <%= user.Usuario %>
                                </h3>
                                <h3>
                                    <%= user.Email %> - <%= user.fechaDeNacimiento %>
                                </h3>
                                <h3>
                                    <%= user.Categoria %>
                                </h3>
                            </div>
                               <a href="/usuario/edicion/<%= user.id%>"><button class="botonAñadir">Editar Usuario</button></a>
                        </div>
                        <form action="/usuario/borrar/<%= user.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="botonAñadir">ELIMINAR USUARIO</button>
                        </form>
                    </article>
                </div>
            </div>
            <%- include("./partials/footer") %>

                </html>